.heading-link {
    display: inline-block;
}

.heading-link .options {
    display: none;
}

.heading-link.expand {
    border: #DDDDDD 6px;
    padding: 6px;
    height: 27px;
    color: #000000;
    font-weight: normal;
}

.heading-link.expand  .options {
    display: inherit;
}

.heading-link.expand  .share {
    display: none;
}

.heading-link a {
    color: #3D66AD;
    font-weight: bold;
}
